# dependencies
node_modules
.pnp
.pnp.js

# build output
dist
dist-ssr

# testing
coverage

# misc
.DS_Store
*.pem
*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env*.local

# prisma local sqlite
prisma/dev.db
prisma/dev.db-journal

# typescript
*.tsbuildinfo

# editor
.vscode
.idea
